## Few Important concepts

> ### 1. If-elif-Else Statements

> ### 2. Functions

> ### 3. Loop / Iterations

---

## 1. If-elif-Else Statements

Q1. Ask the user for a Porosity input and based on Poro Values, display outputs accordingly.

In [2]:
poro = float(input('Enter Porosity in % : '))

Enter Porosity in % : 25

In [3]:
poro

25.0

- **Use of If and else**

In [4]:
poro = float(input('Enter Porosity in % : '))

if poro >= 20:
    print('Porosity is >20')
else:
    print('Porosity is <20')

Enter Porosity in % : 30
Porosity is >20

In [5]:
poro = float(input('Enter Porosity in % : '))

if poro >= 20:
    print('Porosity is >20')
else:
    print('Porosity is <20')

Enter Porosity in % : 12
Porosity is <20

- **use of if, else and elif**

In [6]:
poro = float(input('Enter Porosity in % : '))

if poro >= 25:
    print('This is the Porous Sandstone')
    
elif (poro>=15) and (poro<25):
    print('This is the Tight Sandstone')
    
else:
    print('May be it is Carbonate')

Enter Porosity in % : 34
This is the Porous Sandstone

---

## 2.  Functions

> **Whenever there is a calculations or a set of calculations that you might repeatedly use in your code or future codes, always create a function of it**


Examples:

1. Darcy's Fucntions

2. Buckley Leverett's eqn

In [7]:
x = 10
y = x**2 + 2*x + 1

print(y)

121

- **Functions Syntex**:

"def func_name( input1 ....):  "

- **Your First Functions : Ask for x and return quadratic evaluated y.**

In [8]:
#This is Function Definition
def y_quadratic(x):
    
    y = x**2 + 2*x + 1
    
    return y

In [9]:
#Using the Function : Function Cell
#as we can see we have used the single line of code to get our result
#user dont have to look on the above codes
y_quadratic(10)

121

- **There can be a function with no input and no output**

In [10]:
def laugher():
    print('HAHAHAHAHA')

In [11]:
laugher()

HAHAHAHAHA

- **DARCY Functions : Multiple Inputs, Single Outputs**

> **q = kA dP /mu*L**

In [12]:
def darcy_calculator(k, A, dP, mu, L):
    q =  k*A*dP/(mu*L)
    return q

In [13]:
darcy_calculator(0.8,200,2,10,10)

3.2

If i have to add or multply or divide with darcy_calculator, first we have to store the value

In [14]:
Q = darcy_calculator(0.8,200,2,10,10)

In [15]:
Q_new = Q*5

Q_new

16.0

In [16]:
#Example

def square(n):
    n_Square = n**2
    
    return n_Square

In [17]:
square(5)

25

- **use of math function**

In [18]:
#Example : Take the value of Q_init , b and return Q = Q_init*e(-bt)

#Tip : instead of 'e' use 'math.exp'

import math

def equation(Q_init , b, t):
    Q = Q_init*math.exp(-b*t)
    
    return Q

In [19]:
equation(5000, 0.05, 0)

5000.0

- **Multi-input and Multi-Output functions**

> **Functional Flow Example**

**'''fw = 1/(1+(uw*kro)/(uo*krw))'''**

**'''krw = sw^3'''**

**'''kro = (1-sw)^3'''**

In [20]:
def fracFlow_calculator(sw=1, mu_w =10, mu_o = 150):
    
    kro = sw**3
    
    so = 1-sw
    
    krw = sw**3
    
    #also created a dict.
    
    rel_perm_details = { 'sw': sw , 'mu_w': mu_w ,'mu_o': mu_o}
    
    fw = 1/(1 + (mu_w * kro)/(mu_o * krw))
    
    return rel_perm_details , fw

In [21]:
fracFlow_calculator()

({'sw': 1, 'mu_w': 10, 'mu_o': 150}, 0.9375)

**if i want to change the value i can direct give command in return output**

In [22]:
fracFlow_calculator(sw= 3, mu_w =19, mu_o = 200 )

({'sw': 3, 'mu_w': 19, 'mu_o': 200}, 0.9132420091324202)

**want to store the data input**

In [23]:
new_details1 = fracFlow_calculator(sw= 3, mu_w =19, mu_o = 200 )[0]
fw1 =  fracFlow_calculator(sw= 3, mu_w =19, mu_o = 200 )[1]

In [24]:
new_details1

{'sw': 3, 'mu_w': 19, 'mu_o': 200}

In [25]:
fw1

0.9132420091324202

---

## 3. Loop/Iteration

> **for loop**

In [26]:
my_number_list = list(range(10, 90))

In [27]:
print(my_number_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]

print the sqaure of all number in the above list

In [52]:
for each_number in my_number_list:
    print(each_number**2, end = '\t')
    
#As you can see it taking square of each component

100	121	144	169	196	225	256	289	324	361	400	441	484	529	576	625	676	729	784	841	900	961	1024	1089	1156	1225	1296	1369	1444	1521	1600	1681	1764	1849	1936	2025	2116	2209	2304	2401	2500	2601	2704	2809	2916	3025	3136	3249	3364	3481	3600	3721	3844	3969	4096	4225	4356	4489	4624	4761	4900	5041	5184	5329	5476	5625	5776	5929	6084	6241	6400	6561	6724	6889	7056	7225	7396	7569	7744	7921

In [29]:
#Example: cube each number in the above list

for cube_num in my_number_list:
    print(cube_num**3, end = '\t')

1000	1331	1728	2197	2744	3375	4096	4913	5832	6859	8000	9261	10648	12167	13824	15625	17576	19683	21952	24389	27000	29791	32768	35937	39304	42875	46656	50653	54872	59319	64000	68921	74088	79507	85184	91125	97336	103823	110592	117649	125000	132651	140608	148877	157464	166375	175616	185193	195112	205379	216000	226981	238328	250047	262144	274625	287496	300763	314432	328509	343000	357911	373248	389017	405224	421875	438976	456533	474552	493039	512000	531441	551368	571787	592704	614125	636056	658503	681472	704969

In [30]:
#Example: from number list, check whether it is odd or even and
#print true or false accordingly

for check in my_number_list:
    
    if check%2 ==0:
        print(True)
    else:
        print(False)

True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False
True
False

In [32]:
#Example: 
my_sin = []
my_cos = []

for v in my_number_list:
    sin_v = math.sin(v)
    cos_v = math.cos(v)
    
    my_sin.append(sin_v)
    my_cos.append(cos_v)

In [51]:
print(my_sin)

[-0.5440211108893698, -0.9999902065507035, -0.5365729180004349, 0.4201670368266409, 0.9906073556948704, 0.6502878401571168, -0.2879033166650653, -0.9613974918795568, -0.7509872467716762, 0.14987720966295234, 0.9129452507276277, 0.8366556385360561, -0.008851309290403876, -0.8462204041751706, -0.9055783620066238, -0.13235175009777303, 0.7625584504796027, 0.956375928404503, 0.27090578830786904, -0.6636338842129675, -0.9880316240928618, -0.404037645323065, 0.5514266812416906, 0.9999118601072672, 0.5290826861200238, -0.428182669496151, -0.9917788534431158, -0.6435381333569995, 0.2963685787093853, 0.9637953862840878, 0.7451131604793488, -0.158622668804709, -0.9165215479156338, -0.8317747426285983, 0.017701925105413577, 0.8509035245341184, 0.9017883476488092, 0.123573122745224, -0.7682546613236668, -0.9537526527594719, -0.26237485370392877, 0.6702291758433747, 0.9866275920404853, 0.39592515018183416, -0.5587890488516163, -0.9997551733586199, -0.5215510020869119, 0.43616475524782494, 0.9928726480845371, 0.6367380071391379, -0.3048106211022167, -0.9661177700083929, -0.7391806966492228, 0.16735570030280691, 0.9200260381967907, 0.8268286794901034, -0.026551154023966794, -0.8555199789753223, -0.8979276806892913, -0.11478481378318722, 0.7738906815578891, 0.9510546532543747, 0.25382336276203626, -0.6767719568873076, -0.9851462604682474, -0.38778163540943045, 0.5661076368981803, 0.9995201585807313, 0.5139784559875352, -0.4441126687075084, -0.9938886539233752, -0.6298879942744539, 0.31322878243308516, 0.9683644611001854, 0.7331903200732922, -0.1760756199485871, -0.9234584470040598, -0.8218178366308225, 0.03539830273366068, 0.8600694058124532]

In [50]:
print(my_cos)

[-0.8390715290764524, 0.004425697988050785, 0.8438539587324921, 0.9074467814501962, 0.1367372182078336, -0.7596879128588213, -0.9576594803233847, -0.27516333805159693, 0.6603167082440802, 0.9887046181866692, 0.40808206181339196, -0.5477292602242684, -0.9999608263946371, -0.5328330203333975, 0.424179007336997, 0.9912028118634736, 0.6469193223286404, -0.2921388087338362, -0.9626058663135666, -0.7480575296890004, 0.15425144988758405, 0.9147423578045313, 0.8342233605065102, -0.013276747223059479, -0.8485702747846052, -0.9036922050915067, -0.12796368962740468, 0.7654140519453434, 0.9550736440472949, 0.26664293235993725, -0.6669380616522619, -0.9873392775238264, -0.39998531498835127, 0.5551133015206257, 0.9998433086476912, 0.5253219888177297, -0.4321779448847783, -0.9923354691509287, -0.6401443394691997, 0.3005925437436371, 0.9649660284921133, 0.7421541968137826, -0.16299078079570548, -0.9182827862121189, -0.8293098328631502, 0.022126756261955736, 0.853220107722584, 0.8998668269691937, 0.11918013544881928, -0.7710802229758452, -0.9524129804151563, -0.25810163593826746, 0.6735071623235862, 0.9858965815825497, 0.39185723042955, -0.562453851238172, -0.99964745596635, -0.5177697997895051, 0.4401430224960407, 0.9933903797222716, 0.6333192030862999, -0.3090227281660707, -0.9672505882738824, -0.7361927182273159, 0.17171734183077755, 0.9217512697247493, 0.8243313311075577, -0.03097503173121646, -0.8578030932449878, -0.8959709467909631, -0.11038724383904756, 0.7766859820216312, 0.9496776978825432, 0.24954011797333814, -0.6800234955873388, -0.9843766433940419, -0.38369844494974187, 0.569750334265312, 0.9993732836951247, 0.5101770449416689]

Also check the length of sin and cos, you will find out both are same.

In [40]:
len(my_sin)

80

In [41]:
len(my_cos)

80

In [42]:
my_quad = []

for x in my_number_list:
    x_quad = y_quadratic(x)
    
    my_quad.append(x_quad)

In [49]:
print(my_quad)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100]